@using System.Activities.Expressions
@using System.Web.Mvc.Ajax
@using System.Web.Mvc.Html
@using System.Web.Optimization
@using ObjectInformation.DAL.Model
@using WebGrease
@model IEnumerable<Country>
<div class="row">

    <!-- BEGIN TODO SIDEBAR -->
    <div class="todo-ui">
        <div class="col-md-3">
            <div class="todo-sidebar">
                <div class="portlet light">
                    @foreach (Country country in Model.Where(w => w.Regions.Any(a => a.Cities.Any(s => s.Districts.Any(s1 => s1.ObjectRealties.Any())))))
                    {
                        <div class="portlet-title" style="cursor: pointer">
                            <div class="caption" data-toggle="collapse" data-target="#Country_@country.CountryId">
                                <span class="caption-subject font-green-sharp bold uppercase" onclick=" ShowObjectInformation('none') ">@country.CountryName </span>
                            </div>
                        </div>
                            <div class="portlet-body">
                                <div id="Country_@country.CountryId" class="collapse in">
                                    <ul class="nav nav-pills nav-stacked">
                                        @foreach (Region region in country.Regions)
                                        {
                                            <li style="cursor: pointer">
                                                <div class="portlet-title">
                                                    <div class="caption" data-toggle="collapse" data-target="#Region_@region.RegionId">
                                                        <span class="caption-subject font-green-sharp bold uppercase">@region.RegionName </span>
                                                    </div>
                                                    <div class="portlet-body">
                                                        <div id="Region_@region.RegionId" class="collapse in">
                                                            <ul class="nav nav-pills nav-stacked">
                                                                @foreach (City city in region.Cities)
                                                                {
                                                                    if (city.Districts.Any())
                                                                    {
                                                                        <li style="margin-left: 5px; cursor: pointer;">
                                                                            <div class="portlet-title;">
                                                                                <div class="caption" data-toggle="collapse" data-target="#City_@city.CityId">
                                                                                    <span class="caption-subject font-green-sharp">
                                                                                        @city.CityName
                                                                                        <span style="margin-top: -2px" class="badge badge-primary">@city.Districts.Count(c => c.ObjectRealties.Any())</span>
                                                                                    </span>
                                                                                </div>
                                                                                <div class="portlet-body">
                                                                                    <div id="City_@city.CityId" class="collapse in">
                                                                                        <ul class="nav nav-pills nav-stacked">
                                                                                            @foreach (District district in city.Districts)
                                                                                            {
                                                                                                if (district.ObjectRealties.Any())
                                                                                                {
                                                                                                    <li style="margin-left: 10px; cursor: pointer">
                                                                                                        <div class="portlet-title">
                                                                                                            <div class="caption" data-toggle="collapse" data-target="#District_@district.DistrictId">
                                                                                                                <span class="caption-subject font-green-sharp">
                                                                                                                    @if (!district.DistrictName.Contains("район"))
                                                                                                                    {
                                                                                                                        @district.DistrictName
                                                                                                                        @:район
                                                                                                                        <span class="badge badge-danger">@district.ObjectRealties.Select(s => s.ObjectType).Distinct().Count()</span>
                                                                                                                    }
                                                                                                                    else
                                                                                                                    {
                                                                                                                        @district.DistrictName
                                                                                                                    }
                                                                                                                </span>
                                                                                                            </div>
                                                                                                            <div id="District_@district.DistrictId" class="collapse in">
                                                                                                                <ul class="nav nav-pills nav-stacked">
                                                                                                                    @foreach (ObjectType objectType in district.ObjectRealties.Where(w=>w.ObjectTypeId!=0).Select(s => s.ObjectType).Distinct())
                                                                                                                    {

                                                                                                                        <li style="margin-left: 15px" onclick=" ShowObjectInformation('') ">
                                                                                                                            @using (Ajax.BeginForm("ObjectRealtyListInfo", "Home", new { districtId = district.DistrictId, objectTypeId = objectType.ObjectTypeId },
new AjaxOptions() { UpdateTargetId = "ObjectScroller", LoadingElementId = "GoogleMapDiv", OnBegin = "AddHeight" }))
                                                                                                                            {
                                                                                                                                <button type="button" class="btn btn-link caption-subject font-green-sharp" style="font-size: 13px; text-decoration: none">
                                                                                                                                    <span>@objectType.ObjectTypeName</span>
                                                                                                                                    <span class="badge badge-success">
                                                                                                                                        @objectType.ObjectRealties.Count(c => c.DistrictId == district.DistrictId)
                                                                                                                                    </span>
                                                                                                                                </button>
                                                                                                                            }
                                                                                                                        </li>
                                                                                                                    }
                                                                                                                </ul>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </li>
                                                                                                }
                                                                                            }
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                    }
                                                                }
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>

                    }
                </div>
            </div>
        </div>

        <!-- END TODO SIDEBAR -->
        <!-- BEGIN TODO CONTENT -->
        <div class="col-md-9">
            <div class="todo-content" id="ObjectInfoBlock">
                <div class="portlet light">
                    <!-- PROJECT HEAD -->
                    <div class="portlet-title">

                        <div class="caption">
                            <i class="icon-bar-chart font-green-sharp hide"></i>
                            <span class="caption-helper uppercase">список:</span> &nbsp; <span class="caption-subject font-green-sharp bold uppercase">Объектов</span>
                        </div>

                    </div>
                    <!-- end PROJECT HEAD -->
                    <div class="portlet-body">



                        <div class="row" id="GoogleMapDiv">
                         
                                <div id="map" style="height: 800px">&nbsp;</div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END TODO CONTENT -->

</div>
@Html.Partial("ObjectRealty/_addPolygonObjectRealty")

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jquery-unobtrusive-ajax")

<style>
    #map {
        height: 100%;
    }
</style>
@section scripts
{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQGepjcajymP5Wm0iY1cyJTJBVVx5_fZ8&libraries=geometry"></script>
    <script src="~/assets/plugins/AppHome.js?v=@DateTime.Now.Ticks"></script>
    <script>


        $(document).ready(function() {

            $(document).ready(function () {
                AppObjectRealty.initMap(0, 0,0);
            });
            });


            function AddHeight() {
                console.log("test");
                $(".slimScrollDiv").css({ "height": 700 });
                $(".scroller").css({ "height": 700 });

            }

            function ShowObjectInformation(args) {
                $("#ObjectInfoBlock").attr('style', 'display :' + args);
            }

            function myfunction(id) {
                $("." + id)[0].lastElementChild.click();
            }

            function sendComment(id) {
                //console.log(id);
                $.post('/Home/SendComment/',
                    {
                        objectRealtyId: id,
                        text: $("#CommentText").val()
                    },
                    function(data) {
                        if (data) {
                            var s = $("#mediaTmp").html();
                            s = s.replace("UserName", '@User.Identity.Name');
                            s = s.replace("CommentDateTime", Date.now());
                            s = s.replace("CommentText", $("#CommentText").val());
                            $(s).insertBefore("#CommentTextArea");
                            $("#CommentText")[0].value = "";
                        }
                    }
                );
            }
    </script>
}

<li id="mediaTmp" class="media" style="display:none">
    <div class="media-body todo-comment">
        <p class="todo-comment-head">
            <span class="todo-comment-username">UserName</span> &nbsp; <span class="todo-comment-date">CommentDateTime</span>
        </p>
        <p class="todo-text-color">
            CommentText
        </p>
    </div>
</li>